<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        body {
            background-color: #b5b5b5;
        }

        nav .is-active {
            background-color: #bbbbbb;
        }

        .navbar {
            background-color: inherit;
        }

        a.navbar-item:hover,
        a.navbar-link:hover {
            background-color: #c5c5c5;
            color: inherit;
        }

        .navbar a.button:hover {
            background-color: #929292;
            color: #f2f2f2;
        }

        .navbar a.button,
        .navbar .button {
            background-color: #c5c5c5;
            color: inherit;
        }

        .navbar a.is-primary {
            background-color: #b43030;
            color: #f2f2f2;
        }

        .navbar-dropdown {
            background-color: #c5c5c5;
        }
    </style>
    <title>Fit Track</title>
</head>

<body>
    <div class="container">
        <nav id="mainNav" class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="./index.html">
                    <img src="./imgs/logo.png">
                </a>

                <a class="navbar-burger" :class="{ 'is-active': navActive }" @click="navActive = !navActive">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>

            <div class="navbar-menu" :class="{ 'is-active': navActive }">
                <div class="navbar-start">
                    <a class="navbar-item" href="./myprofile.html">My Profile</a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" href="./login.html">Login</a>
                    <a class="navbar-item" href="./signup.html">Sign Up</a>
                </div>
            </div>
        </nav>

        <nav class="tabs is-medium is-centered">
            <ul>
                <li><a href="./activity.html">My Activity</a></li>
                <li><a href="./feed.html">Feed</a></li>
                <li><a href="./friends.html">Friends</a></li>
            </ul>
        </nav>


        <!--Page Section-->
        <section id="page" class="section">
            <div v-for="(post, postid) in posts" :key="postid">
                <div class=card>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="./imgs/default-avatar.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ post.firstname }} {{ post.lastname }}</strong>
                                    <br />
                                    {{ post.info }}
                                    <br />
                                    <small>{{ post.likes }} Likes</small>
                                    <br />
                                    <small><a>Like</a> · <a>Reply</a> · {{ post.datetime }}</small>
                                </p>
                            </div>

                            <article class="media" v-for="(postComment, index) in post.comments">
                                <figure class="media-left">
                                    <p class="image is-48x48">
                                        <img src="./imgs/default-avatar.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{ postComment.firstname }} {{ postComment.lastname }}</strong>
                                            <br />
                                            {{ postComment.comment }}
                                            <br />
                                            <small>{{ postComment.likes }} Likes</small>
                                            <br />
                                            <small><a>Like</a> · {{ postComment.datetime }}</small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
                <br />
            </div>
        </section>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const VM_nav = {
            data: () => ({
                navActive: false,
            })
        }
        Vue.createApp(VM_nav).mount("#mainNav");

        const VM_page = {
            data: () => ({
                posts: {
                    "182": {
                        "userid": 9309, "firstname": "Person", "lastname": "Random", "info": "post information",
                        "likes": 20, "datetime": "10-10-2021 10:42:03", "comments": [
                            { "userid": "2817", "firstname": "Person", "lastname": "2817", "comment": "great exercise", "likes": 4, "datetime": "10-10-2021 11:06:12" },
                            { "userid": "2811", "firstname": "Person", "lastname": "2811", "comment": "awesome work", "likes": 2, "datetime": "10-10-2021 11:11:36" },
                        ]
                    },
                    "183": {
                        "userid": 2817, "firstname": "Random", "lastname": "Person", "info": "post information",
                        "likes": 4, "datetime": "10-10-2021 13:32:41", "comments": [
                            { "userid": "2817", "firstname": "Person", "lastname": "2817", "comment": "awesome", "likes": 1, "datetime": "10-10-2021 14:27:56" },
                        ]
                    },
                },
            })
        }
        Vue.createApp(VM_page).mount("#page");
    </script>
</body>

</html>