<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        body { background-color:#b5b5b5; }
        .is-active { background-color: #bbbbbb; }
        .navbar { background-color: inherit; }
        a.navbar-item:hover, a.navbar-link:hover { background-color:#c5c5c5; color: inherit; }
        .navbar a.button:hover { background-color:#929292; color: #f2f2f2; }
        .navbar a.button, .navbar .button { background-color:#c5c5c5; color: inherit; }
        .navbar a.is-primary { background-color:#b43030; color: #f2f2f2; }
        .navbar-dropdown { background-color: #c5c5c5; }
    </style>
    <title>Fit Track</title>
</head>

<body>
    <div id="app" class="container">
        <nav id="mainNavbar" class="navbar">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <img src="./imgs/logo.png">
                </div>

                <a class="navbar-burger" :class="{ 'is-active': navActive }" @click="navActive = !navActive">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>

            <div class="navbar-menu" :class="{ 'is-active': navActive }">
                <div class="navbar-end">
                    <a class="navbar-item"  href="#" :class="{ 'is-hidden': !userActive }" @click="logoutSubmit">Logout</a>
                    <div class="navbar-item has-dropdown is-hoverable" :class="{ 'is-hidden': userActive }">
                        <a class="navbar-link" @click="loginMenu">Login</a>
                        <div class="navbar-dropdown" :class="{ 'is-hidden': (!loginActive && navActive) }">
                            <input class="input is-normal navbar-item" type="email" placeholder="Email">
                            <input class="input navbar-item" type="password" placeholder="Password">
                            <button class="button" @click="loginSubmit">Submit</button>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable" :class="{ 'is-hidden': userActive }">
                        <a class="navbar-link" @click="signupMenu">Sign Up</a>
                        <div class="navbar-dropdown" :class="{ 'is-hidden': (!signupActive && navActive) }">
                            <input class="input navbar-item" type="text" placeholder="First Name">
                            <input class="input navbar-item" type="text" placeholder="Last Name">
                            <input class="input navbar-item" type="email" placeholder="Email">
                            <input class="input navbar-item" type="password" placeholder="Password">
                            <button class="button" @click="signupSubmit">Submit</button>
                        </div>
                    </div>
                 </div>
            </div>
        </nav>

        <nav id="pageNav" class="tabs is-medium is-centered">
            <ul>
                <li :class="{ 'is-active': page=='profile' }"><a href="#profile" @click="switchPage('profile')">Profile</a></li>
                <li :class="{ 'is-active': page=='activity' }"><a href="#activity" @click="switchPage('activity')">Activity</a></li>
                <li :class="{ 'is-active': page=='friends' }"><a href="#friends" @click="switchPage('friends')">Friends</a></li>
            </ul>
        </nav>

        <div id="home" class="is-centered" :class="{ 'is-hidden': !(page=='home') }">
            <p>Welcome to Fit Track! To begin tracking your fitness, please login or sign up to begin!</p>
        </div>

        <div id="profile" :class="{ 'is-hidden': !(page=='profile') }">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title is-centered">{{ name }}</p>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="">
                                <p class="title is-5">Sex</p>
                                <p class="has-text-centered">{{ sex }}</p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <p class="title is-5">Age</p>
                                <p class="has-text-centered">{{ age }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="level">
                        <p class="level-item title is-4">Height</p>
                        <div class="level-item">
                            <div class="">
                                <p class="title is-5">Current</p>
                                <p class="has-text-centered">{{ Math.floor(height / 12) }}' {{ height % 12 }}"</p>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" @click="modalHeight = true">Update</a>
                </footer>
            </div>

            <div id="heightModal" class="modal" :class="{ 'is-active': modalHeight }">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">New Height</p>
                    </header>
                    <section class="modal-card-body">
                        <input class="input" type="number" v-model="newHeight" placeholder="new height in inches">in.

                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success" @click="submitHeight()">Update</button>
                        <button class="button" @click="modalHeight = false">Cancel</button>
                    </footer>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="level">
                        <p class="level-item title is-4">Weight</p>
                        <div class="level-item">
                            <div class="">
                                <p class="title is-5">Current</p>
                                <p class="has-text-centered">{{ weight }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" @click="modalWeight = true">Update</a>
                </footer>
            </div>

            <div id="weightModal" class="modal" :class="{ 'is-active': modalWeight }">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">New Weight</p>
                    </header>
                    <section class="modal-card-body">
                        <input class="input" type="number" v-model="newWeight" placeholder="new weight in pounds">lbs.
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success" @click="submitWeight()">Update</button>
                        <button class="button" @click="modalWeight = false">Cancel</button>
                    </footer>
                </div>
            </div>
        </div>

        <div id="activity" class="has-text-centered" :class="{ 'is-hidden': !(page=='activity') }">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Today</p>
                </header>
                <div class="card-content">
                    <div class="columns is-mobile">
                        <div class="column">
                            <p class="title is-5">Exercise</p>
                        </div>
                        <div class="column">
                            <p class="title is-5">Amount</p>
                        </div>
                        <div class="column">
                            <p class="title is-5">Time</p>
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column">
                            <p>{{ activity[0]['exercise'] }}</p>
                        </div>
                        <div class="column">
                            <p>{{ activity[0]['amount'] }}</p>
                        </div>
                        <div class="column">
                            <p>{{ activity[0]['time'] }} mins</p>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" @click="modalToday = true">Add</a>
                </footer>
            </div>

            <div class="modal" :class="{ 'is-active': modalToday }">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add Exercise</p>
                    </header>
                    <section class="modal-card-body">
                        Exercise<input class="input" type="text" placeholder="Exercise name">
                        Amount<input class="input" type="text" placeholder="Distance/Weight/Etc.">
                        Time<input class="input" type="text" placeholder="Time (in minutes)">
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success" @click="submitExercise()">Add</button>
                        <button class="button" @click="modalToday = false">Cancel</button>
                    </footer>
                </div>
            </div>

            <div class="card" :class="{ 'is-hidden': (pastView == null) }">
                <header class="card-header">
                    <p class="card-header-title">{{ pastViewDate }}</p>
                </header>
                <div class="card-content">
                    <div class="columns is-mobile">
                        <div class="column">
                            <p class="title is-5">Exercise</p>
                        </div>
                        <div class="column">
                            <p class="title is-5">Amount</p>
                        </div>
                        <div class="column">
                            <p class="title is-5">Time</p>
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column">
                            <p>{{ activity[0]['exercise'] }}</p>
                        </div>
                        <div class="column">
                            <p>{{ activity[0]['amount'] }}</p>
                        </div>
                        <div class="column">
                            <p>{{ activity[0]['time'] }} mins</p>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" @click="">Edit</a>
                </footer>
            </div>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Past</p>
                </header>
                <div class="card-content">
                    <div class="columns is-mobile">
                        <div class="column">
                            <p class="title is-6">Date</p>
                        </div>
                        <div class="column">
                            <p class="title is-6">Total Time</p>
                        </div>
                        <div class="column"></div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column">
                            <p>10-03-21</p>
                        </div>
                        <div class="column">
                            <p>50 mins</p>
                        </div>
                        <div class="column">
                            <button class="button" @click="viewPast('10-03-2021')">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="friends" class="has-text-centered" :class="{ 'is-hidden': !(page=='friends') }">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title is-centered">{{ friends[0]['name'] }}</p>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="">
                                <p class="title is-5">Sex</p>
                                <p class="has-text-centered">{{ friends[0]['sex'] }}</p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <p class="title is-5">Age</p>
                                <p class="has-text-centered">{{ friends[0]['age'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title is-centered">{{ friends[1]['name'] }}</p>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="">
                                <p class="title is-5">Sex</p>
                                <p class="has-text-centered">{{ friends[1]['sex'] }}</p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <p class="title is-5">Age</p>
                                <p class="has-text-centered">{{ friends[1]['age'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const VM = {
            data() {
                return {
                    navActive: false,
                    userActive: false,
                    loginActive: false,
                    signupActive: false,
                    modalHeight: false,
                    modalWeight: false,
                    modalToday: false,
                    name: "Dustin Gritman", 
                    sex: "Male",
                    age: 24,
                    height: 68,
                    newHeight: this.height,
                    weight: 150,
                    newWeight: this.weight,
                    activity: [{ "exercise": "running", "amount": "1 mile", "time": 20 }],
                    past: { "10-03-2021": [{ "exercise": "running", "amount": "2 miles", "time": 50 }, { "exercise": "walking", "amount": "0.5 miles", "time": 20 }] },
                    pastView: null,
                    pastViewDate: null,
                    friends: [{ "name": "Random Guy", "age": 20, "sex": "Male" }, { "name": "Random Girl", "age": 20, "sex": "Female" }],
                    page: "home"
                }
            },
            methods: {
                loginMenu() {
                    this.signupActive = false;
                    this.loginActive = !this.loginActive;
                },
                signupMenu() {
                    this.loginActive = false;
                    this.signupActive = !this.signupActive;
                },
                signupSubmit() {

                },
                loginSubmit() {
                    this.userActive = true;
                    this.switchPage("home");
                },
                logoutSubmit() {
                    this.userActive = false;
                    this.switchPage("home");
                },
                switchPage(newPage) {
                    this.page = newPage;
                    this.navActive = false;
                },
                submitHeight() {
                    this.height = this.newHeight;
                    this.modalHeight = false;
                },
                submitWeight() {
                    this.weight = this.newWeight;
                    this.modalWeight = false;
                },
                submitExercise() {
                    this.activity.push({ "exercise": "walking", "amount": "0.5 mile", "time": 30 });
                    this.modalToday = false;
                },
                viewPast(pastDate) {
                    this.pastViewDate = pastDate;
                    this.pastView = this.past[pastDate];
                },
            }
        };

        Vue.createApp(VM).mount("#app");
    </script>
</body>

</html>
